spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://AlaeC-bookshop-db:3306/bookshop?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false


management:
  endpoints:
    web:
      exposure:
        include: health

app:
  jwt:
    secret: ${JWT_SECRET:bookshop-secret-key-bookshop-secret-key-123456}
    expiration-ms: ${JWT_EXPIRATION_MS:86400000}
