name: CI/CD Bookshop

on:
  push:
    branches: ["master"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Build and Test
        run: mvn -B clean verify

      - name: Build Docker image
        run: docker build -t bookshop-api:latest .

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/${{ secrets.PROJECT_USER }}/bookshop
            git pull origin main
            export JWT_SECRET='${{ secrets.JWT_SECRET }}'
            export DB_PASSWORD='${{ secrets.DB_PASSWORD }}'
            docker compose down
            docker compose up -d --build
            sleep 60  # wait 15 seconds
            curl -f http://localhost:8080/actuator/health
